.headerbar-wrapper {
    height: 144px;
    background: @theme-bg-red;

    .logo {
        width: 144px;
        height: 55px;

        img {
            width: 110px;
        }
    }

    .search {
        width: e("calc(100% - 1.3rem)");
        position: relative;
        color: @font-gray;

        .search-icon {
            position: absolute;
            left: 0.06rem;
            top: 50%;
            transform: translateY(-50%);
        }

        input {
            width: 90%;
            height: 0.3rem;
            border: none;
            outline: none;
            background: @bg-color;
            text-indent: 0.3rem;
            border-radius: 0.04rem;
        }
    }
}