.footer-wraaper {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    height: 50px;
    width: 100%;
    z-index: 99;
}

.footer-wraaper-content {
    display: flex;
    font-size: 12px;
    height: 100%;
    text-align: center;
    color: #505050;

}

.footer-wraaper-content>li {
    width: 25%;
}

.footer-wraaper-content>li>div {
    margin-top: 6px;
}

.footer-wraaper-content>li>svg {
    width: 25px;
    height: 25px;
}
.active{
    color: #f85959;
}